<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://imgix.bustle.com/uploads/image/2022/9/21/f6e64c3a-8e60-49e6-a921-d69cf89370ea-iron-man-featured.jpg?w=400&h=300&fit=crop&crop=focalpoint&auto=format%2Ccompress&fp-x=0.5013&fp-y=0.2258"
      height="250px">
  </div>
  <div class="big-card__name">
    <h1><a href=""> Saiu a nova versão do Angualar</a></h1>
  </div>
  <div class="big-card__descption">
    <a href="">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged
      </p>
    </a>
  </div>

</div>
